<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Groups</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <form #form="ngForm" novalidate (ngSubmit)="onSaveGroup(form)" >

          <ion-input
                  type="text"
                  required
                  [(ngModel)]="name"
                  ngModel
                  #titleInput="ngModel"
                  name="name"
                  placeholder="Name">
          </ion-input>

          <ion-input
                  type="text"
                  rows="4"
                  required
                  [(ngModel)]="description"
                  ngModel
                  #contentInput="ngModel"
                  name="description"
                  placeholder="Group Description"
          ></ion-input>

          <ion-select
                  required
                  [(ngModel)]="cname"
                  ngModel
                  placeholder="Category"
                  #cnameInput = "ngModel"
                  name = "cname">

            <ion-select-option *ngFor="let category of categories" [value]="category">
              {{category}}
            </ion-select-option>

          </ion-select>

          <ion-button
                  type="submit">Save Group</ion-button>
        </form>
      </ion-col></ion-row>
  </ion-card>
  <ion-card *ngFor="let group of groups">

    <ion-card-header>
      <ion-list style="list-style: none; display: flex;">
        <ion-item lines="none">
          <!--<ion-avatar slot="start">-->
            <!--<img [src]= "post.profileimg">-->
          <!--</ion-avatar>-->
        </ion-item>
        <ion-item>
          <ion-card-title>{{group.username}}</ion-card-title>
        </ion-item>

        <ion-item>
          <ion-card-subtitle>{{ group.groupname }}</ion-card-subtitle>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <!--<img [hidden]="!post.imagePath" [src]="post.imagePath" [alt]="post.title" >-->
    <ion-card-content>
      <strong>{{group.description}}</strong>

      <br/>
      <ion-button color="primary" *ngIf="group.groupmembersid.includes(userId)" routerDirection="forward" [routerLink]="['/grouppage', group.id]">Open</ion-button>
      <!--<ion-action-sheet *ngIf=" userId != group.creator && !group.groupmembersid.includes(userId) && !group.grouprequestsid.includes(userId)">-->
        <ion-button *ngIf=" userId != group.creator && !group.groupmembersid.includes(userId) && !group.grouprequestsid.includes(userId)" (click)="onJoin(group.id)">JOIN</ion-button>
      <!--</ion-action-sheet>-->
      <!--<ion-action-sheet *ngIf=" userId != group.creator && !group.groupmembersid.includes(userId) && group.grouprequestsid.includes(userId)">-->
        <label *ngIf=" userId != group.creator && !group.groupmembersid.includes(userId) && group.grouprequestsid.includes(userId)" color="primary">Request sent!</label>
      <!--</mat-action-row>-->
    </ion-card-content>
  </ion-card>
</ion-content>
